<body style="background-color:whitesmoke;">
<h1 style="color:black;text-align:center;font-size: 80px">Consulta Sim</h1>

<div align="center">
  <button type="button"><%= link_to "Pacientes", pacientes_path %></button>
  <button type="button"><%= link_to "Medicos", medicos_path %></button>
  <button type="button"><%= link_to "Consultas", consulta_path %></button>
</div>